/* These styles are used in the backend editor AND in the Theme (frontend) */

/* CSS is provided by the theme itself, and modified by any custom css you add to the theme. */
/* But that CSS is not active when using the backend-editor, so here is a good place to put  */
/* any custom css which should be active in the frontend website and also applied to editor. */
/* The goal is to make the visual editor display as like the final frontend view as possible */
/* so do not forget to configure the TinyMCE styles dropdown with elements to match these.   */

/* Suggested general non-tag-specific visual styles (for all websites) */

.list		{ margin: 0.35rem 0; }
.stdtop     { margin-top: 0.65rem !important; }
.moretop    { margin-top: 0.8rem  !important; }
.lotstop    { margin-top: 1rem    !important; }
.hugetop    { margin-top: 1.3rem  !important; }
.stdbottom  { margin-bottom: 0.65rem !important; }
.morebottom { margin-bottom: 0.8rem  !important; }
.lotsbottom { margin-bottom: 1rem    !important; }
.hugebottom { margin-bottom: 1.3rem  !important; }

.topless    { margin-top: 0 !important; }
.bottomless { margin-bottom: 0 !important; }

.beforelist { margin-bottom: 0.3rem; }

.lastitempx { padding-bottom: 12px !important; }
.lastitemem { margin-bottom: 0; padding-bottom: 1.3rem; }

strong, .strong, .fett, .bold, .smallBold, .smallerBold { font-weight: bold; }

/* Revert to normal text within strong */
.notstrong { font-weight: normal; }

.smaller, .smallerBold { font-size: 0.95rem; line-height: 1.25; }

.small, .smallBold { font-size: 0.89rem; line-height: 1.2; }

/* Append your site-specific styles here */
@font-face {
    font-family: FontAwesome;
    src: url(font-awesome/fonts/fontawesome-webfont.woff);
}

.excl-rect {
	font-style: italic; 
	border: 2px solid #ff8800; 
	padding: 10px 20px; 
	margin-bottom: 10px;
}

.orng-rect {
	color: white;
	border: 2px solid #ff8800; 
	background-color: #ff8800;
	padding: 5px 10px; 
	margin-bottom: 20px;
    font-size:1.1em;
}

.orng-top-bot {
	border-top: 2px solid #ff8800; 
	border-bottom: 2px solid #ff8800; 
	font-style: italic; 
	padding: 5px 10px; 
	margin-bottom: 20px;
}

.orng-fire {
    font-style: italic;
	padding: 5px 10px 5px 0px; 
	margin-bottom: 20px;
}
.orng-fire:before {
	content: "\f06d";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 10px;
    color: #ff8800;
    font-size: 1.5em;
}

.orng-fire-bold {
    font-style: italic;
	padding: 5px 10px 5px 0px; 
	margin-bottom: 20px;
	font-weight: bold;
}
.orng-fire-bold:before {
	content: "\f06d";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 10px;
    color: #ff8800;
    font-size: 1.5em;
}

.orng-fire-bold-text {
    font-style: italic;
	padding: 5px 10px 5px 0px; 
	margin-bottom: 20px;
	font-weight: bold;
    color: #ff8800;
}
.orng-fire-bold-text:before {
	content: "\f06d";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 10px;
    color: #ff8800;
    font-size: 1.5em;
}

.orng-fire-text {
    font-style: italic;
	padding: 5px 10px 5px 0px; 
	margin-bottom: 20px;
    color: #ff8800;
}
.orng-fire-text:before {
	content: "\f06d";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 10px;
    color: #ff8800;
    font-size: 1.5em;
}

.orng-question {
    font-style: italic;
	padding: 5px 10px 5px 0px; 
	margin-bottom: 20px;
}
.orng-question:before {
	content: "\f059";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 10px;
    color: #ff8800;
    font-size: 1.5em;
}


.orng-chevron {
    font-style: italic;
	padding: 5px 10px 5px 0px; 
	margin-bottom: 10px;
}
.orng-chevron:before {
	content: "\f138";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 10px;
    color: #ff8800;
    font-size: 1.1em;
}

.orng-excl {
    font-style: italic;
    padding: 5px 10px 5px 0px; 
    margin-bottom: 10px;
    font-weight: bold;
}
.orng-excl:before {
    content: "\f071";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 10px;
    color: #ff8800;
    font-size: 1.1em;
}
.orng-asterisk {
    font-style: italic;
    padding: 5px 10px 5px 0px; 
    margin-bottom: 10px;
}
.orng-asterisk:before {
    content: "\f069";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 10px;
    color: #ff8800;
    font-size: 1.1em;
}

.orng-dot {
    font-style: italic;
    padding: 5px 10px 5px 0px; 
    margin-bottom: 10px;
}
.orng-dot:before {
    content: "\f111";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 10px;
    color: #ff8800;
    font-size: 1.1em;
}

.orng-circle {
    font-style: italic;
    padding: 5px 10px 5px 0px; 
    margin-bottom: 10px;
}
.orng-circle:before {
    content: "\f10c";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 10px;
    color: #ff8800;
    font-size: 1.1em;
}

.orng-rect-folder {
    padding: 5px 10px 5px 10px; 
    margin-bottom: 10px;
    border: 2px solid #ff8800; 
    background-color: #ff8800;
    color: white;
}
.orng-rect-folder a {
    color: white !important;
    font-weight: bold;
}

.orng-rect-folder:before {
    content: "\f07c";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 10px;
    color: white;
    font-size: 1.5em;
}

